{%extends "_base.html"%}
{% block content%}
<h1>Service Listing</h1>
{%for name,item in SERVICES.iteritems()%}
	<div class="item-group">
		<h3>{{item.title}}</h3>
		<div class="item-ops">
			{% for op in item.ops %}
				<a class="item-op" href="/exec/{{item.name}}/{{op}}">{{op}}</a>
			{%endfor%}
		</div>
		{% if item.status %}
			<pre class="cmd-output"><span class="cmd-exe"># /etc/init.d/{{item.name}} status</span>
{%with out=item.get_status()-%}
{%for line in out%}<span class="out-{{line.source}}">{{line|noansi|e}}</span>{%endfor%}
{%-endwith%}</pre>
		{% endif %}
	</div>
{%endfor%}
{% endblock%}

{%block script%}
<script>
$(function() {
	$("#item-op").click(function() {
		alert("hello");
		return false;
	});
});
</script>

{% endblock%}